<div class="form-container">
  <form [formGroup]="signUpForm" class="sign-up-form">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="Name" formControlName="Name" placeholder="Enter your name">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" formControlName="Email" placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" formControlName="Password" placeholder="Enter your password">
    </mat-form-field>
    
    <mat-form-field class="form-field">
      <mat-label>Role</mat-label>
      <input matInput type="text" name="RoleName" formControlName="RoleName" placeholder="Enter your Role">
    </mat-form-field>

   


    <button mat-raised-button color="primary" class="sign-up-button" (click)="signUp()">Sign Up</button>
  </form>
</div>