<div class="form-container">
    <form [formGroup]="signInForm"  class="sign-in-form">
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password">
          </mat-form-field>
        <br />
        <button  class="sign-in-button" mat-raised-button  (click)="signIn()">Sign in</button>
    </form>
</div>

